body{
    background: url("razem.JPG");
    background-size: cover;
    background-attachment: fixed;
}
p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
