body{
    background: url("gif.gif");

    text-align: center;
    letter-spacing: 2px;
}
h4{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 10px;
}
.box{
    margin-top: 200px;
    padding: 30px;
    background: white;
}
