body {
    background: url("szum.gif");
    opacity: 0.8;
}
.box{
    padding-top: 15px;
    background: white;
    height: 900px;
    width: 100px;
}
.pic{
    height: 450px;
}
#young {
    background: url("young.jpg");
    background-repeat: no-repeat;
    width: 400px;
}

#old {
    background: url("old.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 7500px;

    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 500s;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-62%);
  }
  100% {
    transform: translateX(100%);
  }
}
body:hover #young{
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
