body{
    background: url("couple.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.evan{
    height: 900px;
    width: 100%;
    background: url("water.gif");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    position: absolute;
}
h1{
    color: white;
}
button{
    margin-top: 120px;
    position: absolute;
}
.container{

}
.row {
    margin-top: 200px;
}
#gif{
    background: url("relax.gif");
    background-repeat: no-repeat;
    height: 220px;
    width: 600px;
}
